body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #C2B9B0;
}
.flex-rows {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction:column;
}
.content-space-around {
    justify-content: space-around;
}
.margin-auto {
    margin: auto;
}
.text-center {
    text-align: center;
}
.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
 /* Navigation Bar CSS */
.navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navigationBtn {
    border: 1px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(76, 175, 80);
    color: #fff;
    width: 100%;
}
.navigationBtn:hover {
    background-color: #fff;
    border: 1px solid rgb(76, 175, 80);
    color: rgb(76, 175, 80);
}
.returnButton {
    width: 1em;    
}

/* X And 0 Game Style */

.xAnd0Score , .xAnd0Text {
    text-align: center;
}
.xAnd0SquareContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 300px;
    height: 300px;
    margin: auto;
}

.xAnd0Square {
    display: flex;
    justify-content: center;
    border: black solid 1px;
    width: 100%;
    height: 100%;
    margin: auto; 
    background-color: beige;
}
.xAnd0Select {
  font-weight: bold;
  font-size: 3em;  
}
.xAnd0NewGame {
    margin: 20px auto auto;
}

/* Higher and Lower Game */

.higherAndLowerButton {
    height: 100%;
    font-weight: bold;
    font-size: 1em;
}
.higerAndLowerGameContainer {
    width: 300px;
    margin: auto;
    justify-content: center;
}
.higerAndLowerGameInformation {
    text-align: justify;
    margin: 0 15px;
}
.hightAndLowerImg {
    height: 115px;
}
.higerAndLowerTextSize {
    font-size: 12px;
}
.border-50 {
    border-radius: 50%;
}
.border-25 {
    border-radius: 25%;
}