/* X And 0 Game Style */
.xAnd0SquareContainer {
    width: 650px;
    height: 650px;
}

 /* Higher and Lower Game */
 .higerAndLowerGameContainer {
    width: 850px;
}
.higerAndLowerTextSize {
    font-size: 16px;
}
.hightAndLowerImg {
    height: 350px;
}

